@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  img {
    width: 100%;
  }
}


body {
  font-family: 'Roboto', sans-serif;
}


/* .introTxt {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 1%;
  left: 2em;
} */

.GoTop{
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  filter: drop-shadow(2px 2px 2px grey);
}

#main-header {
  background-color: lightgrey;
  margin: auto;
  width: 80%;
  height: 150px;
/*   border: 5px solid black; */
  position: relative;
}

.main-nav {
  overflow: hidden;
}


.main-menu {
  display: grid;
  grid-template-columns: 8em 8em 8em 8em 8em 8em;
  padding: 20px;
  float: right;
  margin: 2em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



.headerLogo {
  position: absolute;
  top: 20%;
  bottom: 10%;
  width:20%;
}


.headerLogo img {
  width: 150%;
  max-width: 150%;
  max-height: 100%;
}



.p {
  word-wrap: break-word;
  text-wrap: wrap;
  max-width: 100%;
}


p::first-letter {
  color: #3e8e41;
  font-size: xx-large;
}

/* Contact modal starts here */


#contactModal {
  display: inline-flexbox;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 50vh;
  z-index: 2;
}


#RequestQuote h3{
  text-align: center;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 5%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn:hover {
  background-color: #1b6f1e;
  color: white;
}


.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}



.contactModal{
  display: inline-block;
  text-align: center;
}

#nameModal {
  width: 90%;
  padding: 5px;
  margin: 10px;
}


#emailModal {
  width: 90%;
  padding: 5px;
  margin: 10px;
}


#messageModal {
  width: 90%;
  padding: 5px;
  margin: 10px;
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.modal {
  z-index: 3;
}


.hidden {
  display: none;
}



/* Contact modal ends here */

.container {
  max-width: 1500px;
  margin: 0 auto;
}


#mainContent {
  background-color:rgb(245, 245, 245);
/*   border: 2px solid black; */
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top:0.2em;
  text-indent: 10px;
}

#mainContent p { 
 text-indent: 50px;
}

.carouselContent {
  background-color: white;
  padding: 20px;
  margin: 15px;
}


.carouselContent h5 {
  text-align: center;
  color: white;
  background: rgba(171, 208, 176, 0.6);
  padding: 15px;
  width: 20em;
  margin: auto;
}


.carouselPic {
  width: 100%;
}



.anim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}


.anim:not(:first-child) {
  opacity: 0;
  transition: opacity 0.5s, transform 0.3s;
}

.anim_content {
  background-color: rgb(237, 237, 237)7);
  text-align: center;
  padding: 2rem;
  /* border-radius: 7px; */
}


.left {
  transform-origin: left center;
  transform: translateX(-50%);
}


.right {
  transform-origin: right center;
  transform: translateX(50%);
}


.slide-in {
  opacity: 1 !important;
  transform: translateX(0);
}



.aboutMe {
  background-color: white;
  padding: 20px;
  margin: 15px;
}

.aboutMe > h2 {
  color: #4c5843;
  text-align: center;
}

.actionBut {
  width: 100%;
  background-color: grey;
  height: 8em;
  padding-top: 10px;
  text-align: center;
}

.actBut {
  color: white;
}

.knowMore { 
  border: none;
  padding: 15px 32px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: #302f2b;
  box-shadow: 2px 2px 2px 2px #aba89f;
}


 .knowMore:hover {
  background-color: #3e8e41;
}

 .knowMore:active {
  background-color: #3e8e41;
  box-shadow: 2px 2px 2px 2px #666;
  transform: translateY(4px);
}

.mySkills {
  background-color: white;
  padding: 20px;
  margin: 15px;
  text-align: center;
}

.mySkills > h2 {
  color: #3e8e41;
  text-align: center;
}


.HardeepSkillsPic{
  text-align: center;
  width: 100%;
  height: auto;
}


.myPortfolio {
  background-color: white;
  padding: 20px;
  margin: 15px;
  text-align: center;
}


.myPortfolio > h2 {
  color: #3e8e41;
  text-align: center;
}


.FlexboxPortfolio {
  border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.8rem;
  margin: auto;
  justify-content: space-evenly;
  flex-direction: row;
/*   align-items: stretch; */
}

.flex-Item {
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
/*   width: 280px;
  height: 300px; */
  flex: 1 1 30%;
/*   flex-grow: 1; */
}


.item-1 {
  background-color: grey;
/*   align-items: stretch; */
}

.item-2 {
  background-color: lightgrey;
}

.item-3 {
  background-color: grey;
}

.item-4 {
  background-color: lightgrey;
}

.item-5 {
  background-color: grey;
}

.item-6 {
  background-color: lightgrey;
}

.item-7 {
  background-color: grey;
}

.item-8 {
  background-color: lightgrey;
}

.item-9 {
  background-color: grey;
}


.contactMeform {
  display: block;
  background-color: rgb(244, 244, 244);
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 15px;
}


.contactMeform > h2 {
  color: #3e8e41;
  text-align: center;
}

.ContactForm {
  text-align: center;
}

.formSubmit{
  border: none;
  padding: 15px 32px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: #302f2b;
  box-shadow: 0 9px #aba89f; 
}


.formSubmit:hover {
  background-color: #3e8e41
}


 .formSubmit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #338237;
}



.myBlog {
  /* display: grid; 
  grid-template-columns: 60% 40%;
  gap: 5px; */
  background-color: #0a8d5d;
  padding-top: 3vh;
}


.content4 {
  background-color: white;
  padding: 20px;
}

.content4 > h2 {
  color: #3e8e41;
  text-align: center;
}


.content5 {
  background-color: white;
  padding: 20px;
  height: 250px;
  position: relative;
}


.mainfooter {
  background-color: lightgrey;
  border: 2px solid black;
  padding: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top:0.2em;
}


.homepic {
  object-fit: cover;
  position: absolute;
  top: 6%;
  bottom: 6%;
  right: 2%;
  left: 2%;
  width: 96%;
  max-width: 100%;
  max-height: 90%;
}


/* img {
  width: 96%;
  max-width: 100%;
  max-height: 90%;
} */



.footer {
  background-color: lightgrey;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  padding: 3em;
}

   .footer img {
    margin-left: 30px;
    width: 2%;  
}